.html {
    position: relative;
    min-height: 100%;
}


body {
    background-color: #343673;
    margin-bottom: 60px;
    font-family: Georgia, serif;
}
ul {
    list-style: none;
    padding-left: 0rem;
}

.accordion-menu{
    max-width: 350px;
    margin: 100px auto 20px;
    background: #242d41;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #000
}
.accordion-menu li:last-child .dropdowns{
    border-bottom: 0;
}
/*
    .accordion-menu li.active .dropdowns{
    color: #fff;
}
.accordion-menu li.active .dropdowns .fa-chevron-down{
    transform: rotate(180deg)
}
*/
.dropdownsPlaceBlank1{
    height: 25px;
}
.dropdownsPlaceBlank2 {
    height: 260px;
}
.dropdowns {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 35px;
    font-size: 18px;
    border-bottom: 2px solid #2d374d;
    color: #999;
    position: relative;
    transition: all 0.4s ease-out;
}
.dropdowns:hover{
    background: #566f82;
    background: -webkit-gradient(linear,0% 0%,0% 100%, from(#27455c), to (#273a47))
}

.dropdowns i{
    position: absolute;
    top: 17px;
    left: 10px
}
.dropdowns .fa-chevron-down{
    right: 12px;
    left: auto;
    transition: transform 0.2s ease-in-out;
}
.submenuItems {
    /*display: none;*/
    background: #2d374d;
}
.accordion-menu li.active .submenuItems{
    display: block;
}
.submenuItems a{
    display: block;
    color: #66b2ff;
    font-weight: 600;
    padding: 12px 12px 12px 25px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}
.submenuItems a:hover{
    background: #5c7185;
    color: #fff;
}

