
@{
    ViewData["Title"] = "Menu";
}
<head>
    <link rel="stylesheet" href="~/css/imegenMenu.css" asp-append-version="true" />
</head>
<div class="container" style="align-items:center;">
    <h1 class="text-center">Pagina Principal</h1>
    <img src="~/img/CitikoldImg.png" />
</div>

